<?xml version="1.0" encoding="utf-8"?>
<!--
  Manifest de la Android Library: declara el FileProvider y su recurso
  res/xml/file_paths.xml. La authority usa ${applicationId} (se resuelve al id
  final de la app al mergear) y coincide con MscnShare.cs (.mscnprovider).
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.mscnprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
